*{
    padding: 2px;
    margin: 2px;
}
.body{
    display: flex;
    gap: 20px;
}
.left{
    width: 80%;
}
h2,h3{
    display: flex;
    gap: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}
.text{
    text-decoration: none;
}
.test{
    display: flex;
    gap: 60%;
    border-bottom: 2px solid rgb(124, 132, 138);
}

.test1{
    display: flex;
    border-bottom: 2px solid rgb(124, 132, 138);
    font-family: 'Times New Roman', Times, serif;
}
.right{
    margin-left: auto;
}
.tool{
    text-decoration: none;
    color: black;
}
.test2{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
.a{
    text-decoration: none;
}
.test3{
    display: flex;
    border-bottom: 2px solid rgb(124, 132, 138);
    font-family: 'Times New Roman', Times, serif;
}
.t3{
    display: flex;
}
.test4{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
.bodyright{
    width:20%;
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-weight: 300;
}
.a1{
    text-decoration: none;
    color: black;
}
.sidebar{
    display: flex;
    gap: 30px;
    text-align: justify;
}
.sidebar1{
    text-align: justify;
}
.top{
    border-top:  2px solid rgb(124, 132, 138);
    border-bottom: 2px solid rgb(124, 132, 138);
    color: darkgrey;

}

