.cal {
  width: 300px;
  margin: 30px;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid transparent;
}

.cal input {
  width: 280px;
  height: 50px;
  font-size: 30px;
  text-align: right;
  padding: 5px 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: black;
  border: 1px solid white;
  color: white;
}

.btn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

button {
  font-size: 20px;
  background-color: black;
  color: white;
  border: 1px solid white;
  height: 45px;
  width: 60px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(118, 118, 116);
}