.login-wrapper {
  min-height: 100vh;
  background: url("https://img.freepik.com/premium-photo/high-angle-fruit-cake-with-cutlery-copy-space_198067-442779.jpg?semt=ais_hybrid&w=740&q=80");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 360px;
  background: #fff;
  padding: 35px 30px;
  border-radius: 14px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.login-title {
  margin-bottom: 8px;
  font-size: 26px;
  color: #333;
}

.login-subtitle {
  color: #777;
  margin-bottom: 25px;
}

.login-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: border 0.3s;
}

.login-input:focus {
  border-color: #ff6a88;
  outline: none;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #ff6a88;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #ff4f75;
  transform: translateY(-2px);
}

.login-footer {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.login-footer span {
  color: #ff6a88;
  font-weight: 600;
  cursor: pointer;
}
