*{
    margin: 0;
    padding: 0%;
    font-family: "Lovers Quarrel", cursive;
}
body{
    background: radial-gradient(rgba(247, 197, 164, 0.5), rgba(243, 242, 242, 0.5)),url("https://img.freepik.com/premium-vector/seamless-pattern-with-cakes-desserts-beige-background-vector-illustration_345238-3739.jpg?semt=ais_hybrid&w=740&q=80") ;
    background-size: cover;
}
.head{
    font-size: 50px;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    color: maroon;
}
.form{
    border: 1px solid transparent;
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(114, 112, 110 , 0.3);
}
p{
    font-size: 25px;
    font-weight:500;
    text-align: center;
}
.order{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
    background-color: antiquewhite;
}
input{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-left: 82px;
}
input[placeholder="Enter Product Name"]{
    text-align: center;
}
input[placeholder="Enter Quantity"]{
    text-align: center;
}
input[placeholder="Enter Your Number"]{
    text-align: center;
}
input[type="submit"]{
    margin-left: 153px;
}
input:focus{
    background-color: rgb(211, 199, 194);
}
.bottom{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}
.form a{
    text-decoration: none;
}