*{
    margin: 0;
    padding: 0%;
    font-family: "Lovers Quarrel", cursive;
}
.nav{
    display: flex;
    align-items: center;
    padding: 10px;
    background-image:linear-gradient(#efecec,#f5be7c);
    width: 100%;
    position: sticky;
    
}
.product{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.p{
    font-size: 50px;
    background-image:linear-gradient(#efecec,#f5be7c);
    padding: 20px;    
}

.row{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(500px,1fr));
}
.col-1 img{
    margin: 50px;
}
.col-1 #p{
    font-size: 35px;
    margin-top: 70px;
}
.col-1 p{
    font-size: 20px;
}
.des{
    font-size: 35;
    font-weight: 800;
}
td,th{
    padding: 20px;
    text-align: center;
    background-color: gray;
    color:white;
}
table{
    margin-bottom: 20px;
}
.order{
    /* margin-top: 30px; */
    border: 2px solid tan;
    background-color: blanchedalmond;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;

}
.order:hover{
    cursor: pointer;
    background-color:white;
    color: maroon;
}
img:hover{
    transform: translateY(-20px);
    border: 1px solid  black;
    cursor: pointer;
}
.col-1 a{
    text-decoration: none;
    color: black;
}