*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lovers Quarrel", cursive;
}
.logo img{
    border-radius: 50%;
}
.nav{
    display: flex;
    align-items: center;
    padding: 10px;
    background:linear-gradient(#efecec,#f5be7c);
    width: 100%;
    position: sticky;
    top: 0;
}
nav{
    flex: 1;
    text-align: right;
} 
nav ul{
    display:inline-block;
    list-style-type: none;
}
nav ul li{
    display:inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: maroon;
}
#h1{
    font-size: 60px;
    margin: 20px;
}
#h{
    font-size: 25px;
}
a:hover{
    color: black;
}
.container{
    margin:auto;
}
.row{
    display: grid;
    grid-template-columns:  repeat(auto-fit,minmax(280px,1fr));
    background-color: aliceblue;
    border-radius: 30px;
    margin: 70px;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.4);
}
.col-1{
    flex-basis: 50%;
    min-width: 300px;
    justify-content:space-around;
    padding-left: 50px;
}
.col-1 img{
    max-width: 600px;
    padding: 50px 30px;
    border-radius: 100px;
}
.products{
    margin: 70px;
    background-color:peachpuff;
    padding-bottom: 50px;
}
.products h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    padding: 20px;
    margin-top: 20px;
}
.explore{
    font-size: 25px;
    border: 1px solid maroon;
    background-color: rgb(231, 214, 195);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin-left: 700px;
    margin-bottom: 100px;
}
.row1{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    margin: 30px;
    column-gap: 40px;
    padding-left: 50px;
}
.col-3 img{
    border-radius: 10px;
    border: 8px solid transparent;
}
.col-3 a{
    display: flex;
    font-weight: 700;
    font-size: 25px;
    margin: 20px 0px;
    color: black;
    padding-right:50px;
}
.col-3 a:hover{
    color: rgb(182, 110, 110);
}
.col-3{
    transition: 10s linear 1s;
}
.col-3:hover img{
    transform: translateY(-10px);
    border: 1px solid black;
    cursor: pointer;
    overflow: hidden;
}
.speciality h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    padding: 20px;
    margin-top: 20px;
}
.row2 {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    margin: 30px;
    column-gap: 40px;
    padding-left: 50px;
}
#speciality{
    margin: 70px;
    background:radial-gradient(#ffe4c4,#ded2d2);
    border-radius: 100px 0px 100px 0px;
}
.speciality img{
    border-radius: 60%;
}
.speciality a{
    margin-left: 50px;
} 
.row3 {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    margin: 30px;
    column-gap: 10px;
    padding-left: 50px;
}

.contact h1{
    border: 3px solid transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    padding: 20px;
    margin-top: 20px;
}
#no{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin: 25px;
}
#order{
    background-color:blanchedalmond;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 25px;
    margin: 25px;
    margin-bottom: 10px;
    color: black;
    margin-left: 740px;
    padding: 10px;
}
#order:hover{
    color: white;
    cursor: pointer;
}

#special{
    display: grid;
    align-items: right;
    justify-content: right;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20241201/pngtree-a-beautifully-decorated-christmas-tree-with-gold-and-red-ornaments-surrounded-image_16724829.jpg);
    background-size: cover;
    height: 1000px;
}
#special img{
    border: 3px solid transparent;
    margin-left: 200px;
    margin-top: 100px;
    border-radius: 30px 0px 30px 0px;

}
.col-4 a{
    font-size: 40px;
    font-weight: 600;
    color:white;
    margin-left: 90px;
}
.col-4 div{
    margin-top: 300px;
    margin-right: 100px;
    overflow:hidden;
    position: relative;
}
footer div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-4 div:hover{
     transform: scale(1.3);
     cursor: pointer;
}
.wish{
    transition: 5s;
}
#special p {
     color: white;
     text-align: center;
     margin: 20px;
     font-size: 30px;
}

footer p{
    display: flex;
    justify-content: center;
}
footer a{
    font-size: 30px;
    color: black;
}
footer a:hover{
    color: rgb(200, 210, 143) ;
}
.contact{
    background: radial-gradient(#fff,#ffe4c4);
}
.findus{
    background:radial-gradient(#fff,#f0f8ff);
    height: 400px;
}
.findus p{
    text-align: center;
}
#find{
    font-size: 50px;
    margin-top: 30px;
}

.findus img{
    margin-left: 48%;
}

@media only screen and (max-width:800px){
    nav ul{
        position:absolute;
        top:70px;
        left:  0;
        background: #fff;
        width: 100%;
    } 
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}