/*universal selector*/
*{
    background-color: rgb(238, 158, 238);
    color: aquamarine;
    font-family: sans-serif;
}

/*id selelctor*/
#text{
    background-color: cadetblue;
    color: rgb(12, 1, 22);
}
#unique{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: blue;
}
#name{
    color: black;
    font-size: 150%;
}
#element1{
    color: brown;
    background-color: orange;
}
#element2{
    color: orangered;
    text-align: center;
    background-color: beige;
}
#element3{
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(61, 11, 241);
}
/*class selector*/
.t1{
    background-color: bisque;
    color: black;
    padding: 1%;
}
.t4{
    color: antiquewhite;
    text-decoration: underline;
}
.t5{
    font-style: italic;
    background-color: rgb(238, 10, 44);
}
/*group selector*/
.t2 ,.t3{
    text-align: center;
    color: rgb(207, 5, 5);
    font-size: 50px;
}
#Age, #mail{
    font-size: 150%;
    color: black;
}

h2,h3,h4{
    color: purple;
    text-decoration: underline;
}
h5,h6{
    text-transform: uppercase;
    text-align: center;
    background-color: forestgreen;
}

/*attribute selector*/
input[placeholder="enter your name"]{
    background-color: rgb(243, 242, 242);
    color: rgb(66, 67, 67);
}
input[placeholder="enter your age"]{
    color: rgb(2, 2, 2);
}

input[type="submit"]{
    background-color: blanchedalmond;
    color: black;
}