.body{
    background-color: rgb(198, 241, 242);
}
.div{
    display: flex;
    padding-left: 30%;
    margin-top: 10%;
}
.test{
    width:500px;
    height:450px;
    border: 2px solid rgb(241, 237, 233);
    background-color: rgb(241, 237, 233);
    margin: 20px;
    border-radius:20px 20px; 
    padding: 20px;
}
.p{
    font-size: 50px;
    color: rgba(2, 100, 202);
    font-family: "BBH Bogle", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 0%;
}
.test1{
    display: flex;
    gap: 30px;
    justify-content: center;

}

.p1{
    border: 2px solid rgba(2, 100, 202);
    width:250px;
    border-radius:5px 5px;
    padding: 10px;
    color: darkgray;
}
.p2{
    border: 2px solid rgba(2, 100, 202);
    background-color: rgba(2, 100, 202);
    border-radius: 5px;
    font-size: 15px;
    width: 150px;
    padding: 10px;
    text-align: center;
}
.test2{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    border-bottom: 2px dotted grey;
}
.a{
    color: green;
    font-size: x-large;
}
.text{
    text-decoration:line-through;
    color: grey;
    margin-bottom: 0px;
}
.text1{
    margin-bottom: 0px;
}
.p3{
    border: 2px solid rgb(253, 2, 2);
    background-color: rgb(253, 2, 2);
    border-radius: 5px;
    font-size: 15px;
    width: 100px;
    padding: 10px;
    text-align: center;
}
#box{
    border: 2px solid rgba(2, 100, 202) ;
    border-radius: 3px;
    height: 20px;
    width: 20px;
}
